// Vendor
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

// App
@import "products";

// Global
body {
  padding-top: 70px;
}

// Bootstrap adjustments
form.button_to {
  display: inline;
}

.product_count_text {
  font-size: larger;
}

.category_count_text {
  font-size: larger;

}

.product_value {
  font-size: larger;
}

.category_value {
  font-size: larger;
}